
/* Estilos gerais do corpo da página */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Uma fonte moderna e legível */
    margin: 0;
    padding: 0;
    background-color: #fff0f0; /* Um fundo bem claro e suave */
    color: #250202;
    line-height: 1.7; /* Melhora a leitura do texto */
}

/* Estilos do cabeçalho */
header {
    background-color: #fcebc7; /* Um verde vibrante e acolhedor */
    color: white;
    padding: 30px 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(3, 44, 12, 0.15);
}

header h1 {
    margin-bottom: 10px;
    font-size: 2.5em;
}

header p {
    font-size: 1.1em;
    opacity: 0.8;
}

/* Estilos da barra de navegação */
nav {
    background-color: #f1cdcd; /* Um verde bem claro para a navegação */
    padding: 15px 20px;
    border-bottom: 1px solid #e0d0d0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #544343; /* Um tom de cinza escuro */
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #502c2c; /* Um azul escuro ao passar o mouse */
}

/* Estilos da área principal de conteúdo */
main {
    padding: 30px 20px;
    max-width: 960px;
    margin: 20px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
}

/* Estilos da seção de destaque (hero) */
.hero {
    background-color: #f9fffb; /* Um branco suave */
    padding: 50px 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    text-align: center;
}

.hero h2 {
    color: #e0e0e0; /* Outro tom de verde */
    margin-bottom: 15px;
    font-size: 2.2em;
}

.hero p {
    font-size: 1.2em;
    color: #2c0303;
    margin-bottom: 30px;
}

.call-to-action a {
    display: inline-block;
    background-color: #d34b4b; /* Um azul chamativo */
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.call-to-action a:hover {
    background-color: #b92929; /* Um tom de azul mais escuro ao passar o mouse */
}

/* Estilos dos títulos de seção */
.section-title {
    color: #f89ac9;
    margin-top: 40px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ffa3c1;
    padding-bottom: 10px;
    font-size: 1.8em;
}

/* Estilos do rodapé */
footer {
    background-color: #502c2c; /* Um azul escuro para o rodapé */
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.9em;
}

#desafios {
    text-align: center;
    
}